@page
@model MicroserviceWeb.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/dashboard.css" />
</head>

<div class="dashboard-container">
    <h1>@ViewData["Title"]</h1>

    <div class="tiles-container">
        @foreach (var pupil in Model.Pupils)
        {
            <div class="tile">
                <!-- Adding the ID to the URL for navigation -->
                <a href="@Url.Page("/ExercisesEdit", new { id = pupil.Id })">
                    <img src="@Url.Content(pupil.ImageUrl)" alt="@pupil.Name" class="user-image" />
                    <h3>@pupil.Name</h3>
                    <p>@pupil.Info</p>
                </a>
            </div>
        }
    </div>
</div>


@section Scripts {
    <script src="~/js/dashboard.js"></script>
}
